<div class="form-group">
<p>
  <strong>Firstname:</strong>
  <%= @patient.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @patient.lastname %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @patient.dateofbirth %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @patient.contact %>
</p>

<p>
  <strong>Details:</strong>
  <%= @patient.details %>
</p>

<p>
  <strong>Special:</strong>
  <%= @patient.special %>
</p>
</div>

<%= link_to 'Edit', edit_patient_path(@patient), class: 'btn btn-default' %>
<%= link_to 'Back', patients_path, class: 'btn btn-default' %>

<h1>Patient Appointments</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Appointmentdate</th>
      <th>Appointmenttime</th>
      <th>Doctor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patient.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.appointmentdate %></td>
        <td><%= appointment.appointmenttime %></td>
        <td><%= appointment.profile.firstname %></td>
        <td><%= link_to 'Show', appointment, class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment), class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

