<%= form_for(appointment, html: {class: 'form-horizontal'}) do |f| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label 'Date', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.date_select :appointmentdate %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label 'Time', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.time_select :appointmenttime %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :patient_id, class: 'col-sm-2 control-label' %>
		<div class="col-sm-10">
      <%= collection_select(:appointment, :patient_id, Patient::all, :id, :full_name ) %>
		</div>
  </div>

  <div class="field form-group">
    <%= f.label 'Doctor', class: 'col-sm-2 control-label' %>
		<div class="col-sm-10">
      <%= collection_select(:appointment, :profile_id, Profile::all, :id, :full_name ) %>
		</div>
  </div>

  <% if current_user.profile.is_doctor || current_user.profile.is_admin %>
    <% if @appointment.persisted? %>
    <div class="field  form-group">
      <%= f.label 'Observations', class: 'col-sm-2 control-label'  %>
      <div class="col-sm-10">
        <%= text_area_tag(:observations, @appointment.observations, size: "84x12")  %>
      </div>
    </div>
    <% end %>
  <% end %>

  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit 'Update Details', :class => 'btn btn-success' %>
    </div>
  </div>
<% end %>
