<p id="notice"><%= notice %></p>

<p>
  <strong>Appointmentdate:</strong>
  <%= @appointment.appointmentdate %>
</p>

<p>
  <strong>Appointmenttime:</strong>
  <%= @appointment.appointmenttime.strftime("%H:%M") %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.full_name %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @appointment.profile.full_name %>
</p>

<p>
  <strong>Observations:</strong><br/>
  <%= text_area_tag(:message, @appointment.observations, size: "84x12",  :disabled=>true) %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment), class: 'btn btn-default'  %>
<%= link_to 'Back', appointments_path, class: 'btn btn-default' %>