<!DOCTYPE html>
<html>
  <head>
    <title>SMC-PMS Application</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Top Navigation Bar -->
    <%= render 'shared/navigation' %>

    <div id="main-container" class="container">
      <div class="row">
        <%= render "shared/form_messages", flash: flash %> 
      </div>
      <div class="Absolute-Center is-Responsive">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
